<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Showroom - Checkout </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
    <link rel="stylesheet" type="text/css" href="css/checkout-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/js-api-global.js"></script>
    <script src="js/js-navbar.js"></script>
    <script src="js/js-checkout.js"></script>
</head>
<body>

<div class="container-fluid main-container">

    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navbar-brand" href="home.html">Air Showroom</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="projects.html">Shop</a></li>
                    <li><a href="designers.html">Our Designers</a></li>
                    <li><a href="how-it-works.html">How it works</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="campaign.html">+ Launch a campaign</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li id="sign-nav-button"><a href="#signup-modal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id="login-nav-button"><a href="#login-modal" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    <li class="dropdown" id="logged-nav-button">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            <p id="nav-login-name"> Name </p>
                        </a>
                        <ul class="dropdown-menu login-dropdown" id="nav-user-dropdown-menu">
                            <li>
                                <img class="img-circle" id="nav-login-icon" src="https://keepon.life/images/default_user.jpg" height="128px">
                                <h4 id="nav-drop-login-name">name surname</h4>
                                <button class="btn btn-default" style="margin-top: 10px;"> Edit Profile </button>
                                </br>
                                <button id="nav-drop-logout-btn" class="btn btn-default" style="margin-top: 10px"> Logout </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- SING UP Modal -->
    <div id="signup-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-header">
                    <h1>JOIN THE SHOWROOM</h1>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....</p>
                    <a href="sign-in.html"><img src="icons/arrow-right-512.png" height="256px"/></a>
                    <p>Let's start</p>
                </div>
            </div>

        </div>
    </div>



    <!-- LOGIN MODAL -->
    <div id="login-modal" class="modal fade login-modal" role="dialog">
        <div class="modal-dialog" id="login-modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>LOGIN</h4>
                    <div class="divider"></div>
                    <div class="form-group">
                        <label for="login-email-field">Email</label>
                        <input class="form-control" id="login-email-field" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="login-password-field">Password</label>
                        <input class="form-control" id="login-password-field" placeholder="">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <p id="login-error-label"> Username or password incorrect </p>
                    <div class="divider"></div>
                    <button id="nav-login-submit-button" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

        </div>
    </div>




    <!-- SEARCH MODAL -->

    <div id="search-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label> Search: </label>
                            <input type="text" class="form-control" id="text" placeholder="Write here...">
                        </div>
                        <button type="submit" class="btn btn-default" onclick="nav_search()">GO</button>
                    </form>
                </div>
            </div>

        </div>
    </div>



    <!-- PERSONAL INFO MODAL -->
    <div id="personal-info-modal" class="modal fade edit-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>PERSONAL DATA</h4>
                    <div class="divider"></div>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="info-firstname-field"> FIRST NAME </label>
                            <input id="info-firstname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="info-lastname-field"> LAST NAME </label>
                            <input id="info-lastname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="info-email-field"> EMAIL </label>
                            <input id="info-email-field" type="text" class="form-control" value="email" readonly>
                        </div>
                        <div class="form-group">
                            <label for="info-phone-field"> PHONE </label>
                            <input id="info-phone-field" type="text" class="form-control">
                        </div>
                        <div class="divider"></div>
                        <div style="text-align: center;">
                            <button class="btn btn-default save-btn">SAVE</button>
                            <button class="btn btn-default cancel-btn">CANCEL</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <!-- PERSONAL INFO MODAL -->
    <div id="edit-address-modal" class="modal fade edit-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>NEW ADDRESS</h4>
                    <div class="divider"></div>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="address-label-field"> ADDRESS LABEL </label>
                            <input id="address-label-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="address-firstname-field"> FIRST NAME </label>
                            <input id="address-firstname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="address-lastname-field"> LAST NAME </label>
                            <input id="address-lastname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="address-street-field"> STREET ADDRESS </label>
                            <input id="address-street-field" type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="address-additional-field"> ADDITIONAL INFO </label>
                            <input id="address-additional-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-country-field"> COUNTRY </label>
                            <input id="address-country-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-city-field"> CITY </label>
                            <input id="address-city-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-zip-field"> ZIP CODE </label>
                            <input id="address-zip-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-phone-field"> PHONE </label>
                            <input id="address-phone-field" type="text" class="form-control">
                        </div>
                        <div class="divider"></div>
                        <div style="text-align: center;">
                            <button class="btn btn-default save-btn">SAVE</button>
                            <button class="btn btn-default cancel-btn">CANCEL</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



    <!-- SCROLL SPY -->
    <div class="container checkout-container">

        <div class="checkout-top-menu">
            <p id="check-item-1">SIGN IN</p>
            <p id="check-item-2">SHIPPING ADDRESS</p>
            <p id="check-item-3">ORDER REVIEW</p>
            <p id="check-item-4">PAYMENT</p>
            <p id="check-item-5">ORDER CONFIRMATION</p>
        </div>

        <div class="checkout-section-container" id="checkout-section-1">
            <div class="container-fluid">
                <div style="display: inline-block;  height: 240px; margin-right: 40px;">
                    <h4> REGISTERED CUSTOMER </h4>
                    <div class="form-group">
                        <label for="login-email-field">Email</label>
                        <input class="form-control"  autocomplete="" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="login-password-field">Password</label>
                        <input type="password" class="form-control"  autocomplete="" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
                <div style="display: inline-block; height: 240px; margin-left: 40px;">
                    <h4> GUEST CHECKOUT </h4>
                    <div class="form-group">
                        <label for="login-email-field">Email</label>
                        <input class="form-control"  autocomplete="" placeholder="email">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>

        <div class="checkout-section-container" id="checkout-section-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>PRODUCT</th>
                    <th>DESCRIPTION</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                </tr>
                </thead>
                <tbody id="checkout3-table-body">

                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <p id="checkout-subtotal"> SUBTOTAL</p>
                    <p id="checkout-shipping"> SHIPPING</p>
                    <p id="checkout-total"> TOTAL COST</p>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-default save-btn">BACK</button>
                <button class="btn btn-default cancel-btn">NEXT</button>
            </div>
        </div>

        <div class="checkout-section-container" id="checkout-section-2">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-address-label">ADDRESS LABEL*</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-address-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-firstname-label">FIRSTNAME*</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-firstname-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-lastname-label">LASTNAME*</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-lastname-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-street-label">STREET ADDRESS*</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-street-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-additional-label">ADDITIONAL INFO</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-additional-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-country-label">COUNTRY</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-country-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-city-label">CITY*</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-city-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-zip-label">ZIP CODE</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-zip-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-phone-label">PHONE</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-phone-label">
                    </div>
                </div>
                <div class="divider"></div>
                <div style="text-align: center;">
                    <button class="btn btn-default save-btn">SAVE</button>
                    <button class="btn btn-default cancel-btn">CANCEL</button>
                </div>
            </form>
        </div>


        <div class="checkout-section-container" id="checkout-section-4">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-card-name-label">NAME ON CARD</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-card-name-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-card-type-label">TYPE</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-card-type-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-card-n-label">CREDIT CARD NUMBER</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-card-n-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-card-month-label">MONTH</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-card-month-label">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="check-card-year-label">YEAR</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="check-card-year-label">
                    </div>
                </div>

                <div class="divider"></div>
                <div style="text-align: center;">
                    <button class="btn btn-default save-btn">BACK</button>
                    <button class="btn btn-default cancel-btn">NEXT</button>
                </div>
            </form>
        </div>

        <div class="checkout-section-container" id="checkout-section-5">
            <table class="table table-striped">
            <thead>
            <tr>
                <th>PRODUCT</th>
                <th>YOUR INFO</th>
                <th>SHIPPING ADDRESS</th>
                <th>BILLING ADDRESS</th>
            </tr>
            </thead>
            <tbody id="checkout5-1-table-body">

            </tbody>
        </table>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>PHONE</th>
                </tr>
                </thead>
                <tbody id="checkout5-2-table-body">

                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>TYPE</th>
                    <th>NAME</th>
                    <th>NUMBER</th>
                    <th>EXPIRY DATE</th>
                </tr>
                </thead>
                <tbody id="checkout5-3-table-body">

                </tbody>
            </table>




            <div style="text-align: center;">
                <button class="btn btn-default save-btn">BACK</button>
                <button class="btn btn-default cancel-btn">NEXT</button>
            </div>
        </div>
    </div>



</div>

</body>
</html>