<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Showroom - Customer Account</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
    <link rel="stylesheet" type="text/css" href="css/customer-account-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $("#header").load("templates/header.html");
            $("#footer").load("templates/footer.html");
        });
    </script>
    <script src="js/js-api-global.js"></script>
    <script src="js/js-navbar.js"></script>
    <script src="js/js-customer-account.js"></script>
</head>



<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">


<div class="container-fluid main-container">

    <div id="header"></div>




    <!-- PERSONAL INFO MODAL -->
    <div id="personal-info-modal" class="modal fade edit-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>PERSONAL DATA</h4>
                    <div class="divider"></div>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="info-firstname-field"> FIRST NAME </label>
                            <input id="info-firstname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="info-lastname-field"> LAST NAME </label>
                            <input id="info-lastname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="info-email-field"> EMAIL </label>
                            <input id="info-email-field" type="text" class="form-control" value="email" readonly>
                        </div>
                        <div class="form-group">
                            <label for="info-phone-field"> PHONE </label>
                            <input id="info-phone-field" type="text" class="form-control">
                        </div>
                        <div class="divider"></div>
                        <div style="text-align: center;">
                            <button class="btn btn-default save-btn">SAVE</button>
                            <button class="btn btn-default cancel-btn">CANCEL</button>
                        </div>
                        </form>
                </div>
            </div>

        </div>
    </div>


    <!-- PERSONAL INFO MODAL -->
    <div id="edit-address-modal" class="modal fade edit-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>NEW ADDRESS</h4>
                    <div class="divider"></div>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="address-label-field"> ADDRESS LABEL </label>
                            <input id="address-label-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="address-firstname-field"> FIRST NAME </label>
                            <input id="address-firstname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="address-lastname-field"> LAST NAME </label>
                            <input id="address-lastname-field" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="address-street-field"> STREET ADDRESS </label>
                            <input id="address-street-field" type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="address-additional-field"> ADDITIONAL INFO </label>
                            <input id="address-additional-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-country-field"> COUNTRY </label>
                            <input id="address-country-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-city-field"> CITY </label>
                            <input id="address-city-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-zip-field"> ZIP CODE </label>
                            <input id="address-zip-field" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address-phone-field"> PHONE </label>
                            <input id="address-phone-field" type="text" class="form-control">
                        </div>
                        <div class="divider"></div>
                        <div style="text-align: center;">
                            <button class="btn btn-default save-btn">BACK</button>
                            <button class="btn btn-default cancel-btn">NEXT</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



<!-- SCROLL SPY -->
    <div class="container" id="customer-scrollspy-container">

        <div class="row">
            <nav class="col-sm-3" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked">
                    <h3 id="customer-hi-label"> Hi name</h3>
                    <li class="active"><a href="#section1">MY ORDERS</a></li>
                    <li><a href="#divider2">PERSONAL DATA</a></li>
                    <li><a href="#divider3">ADDRESS</a></li>
                    <li><a href="#divider4">PAYMENT METHODS</a></li>
                    <li><a href="#divider5">WISHLIST</a></li>
                    <li><a href="#divider6">FOLLOWED DESIGNERS</a></li>
                    <div class="divider"></div>
                    <li><button id="customer-logout-button" class="btn-default">LOGOUT</button></li>
                </ul>
            </nav>

            <!-- ORDERS -->

            <div class="col-sm-9">
                <div id="section1">
                    <h3>MY ORDERS</h3>
                    <div class="container-fluid" id="order_container">
                    </div>

                    <div style="text-align: center;"><button class="btn-default" style="margin-top: 12px; margin-bottom: 20px;">EDIT</button></div>
                    <div class="divider" id="divider2"></div>
                </div>

                <div id="section2">
                    <h3>PERSONAL DATA</h3>
                    <row>
                        <div class="col-sm-6">
                            <p id="customer-firstname-label"><small>FIRST NAME</small> nome </p>
                            <p id="customer-lastname-label"><small>LAST NAME</small> cognome </p>
                        </div>
                        <div class="col-sm-6">
                            <p id="customer-email-label"><small>EMAIL</small> email </p>
                            <p><small>PASSWORD</small> ***** </p>
                            <p id="customer-phone-label"><small>PHONE</small> phone </p>
                        </div>
                    </row>
                        <div style="text-align: center;"><button class="btn-default" data-toggle="modal" data-target="#personal-info-modal" style="margin-top: 12px; margin-bottom: 20px;">EDIT</button></div>
                    <div class="divider" id="divider3"></div>
                </div>

                <!-- ADDRESS -->
                <div id="section3">
                    <h3>ADDRESS</h3>
                    <div class="container table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>NAME</th>
                                <th>ADDRESS</th>
                                <th>PHONE</th>
                                <th>SET AS DEFAULT</th>
                            </tr>
                            </thead>
                            <tbody id="address-table-body">

                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;"><button class="btn-default" data-toggle="modal" data-target="#edit-address-modal" style="margin-top: 12px; margin-bottom: 20px;">ADD ADDRESS</button></div>
                    <div class="divider" id="divider4"></div>
                </div>

                <!-- PAYMENT METHODS -->
                <div id="section4">
                    <h3>PAYMENT METHODS</h3>
                    <div class="container table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>TYPE</th>
                                <th>NAME</th>
                                <th>NUMBER</th>
                                <th>EXPIRY DATE</th>
                                <th>SET AS DEFAULT</th>
                            </tr>
                            </thead>
                            <tbody id="payment-table-body">

                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;"><button class="btn-default" style="margin-top: 12px; margin-bottom: 20px;">ADD PAYMENT METHOD</button></div>
                    <div class="divider" id="divider5"></div>
                </div>

                <!-- WHISHLIST -->
                <div id="section5">
                    <h3>WHISHLIST</h3>
                    <div class="container-fluid" id="wishlist_container">

                    </div>
                    <div class="divider" id="divider6"></div>
                </div>


                <!-- FOLLOWED DESIGNERS -->
                <div id="section6">
                    <h3>FOLLOWED DESIGNERS</h3>
                    <div class="followed-designer-container" id="followed-designer-container">
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid ftr text-center" id="footer"></footer>

</div>

</body>
</html>