<!DOCTYPE html>
<html lang="en">
<head>
    <title>Air Showroom - Designer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
    <link rel="stylesheet" type="text/css" href="css/project-style.css">
    <link rel="stylesheet" type="text/css" href="css/designer-style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(function(){
            $("#header").load("templates/header.html");
            $("#footer").load("templates/footer.html");
        });
    </script>
    <script src="js/js-api-global.js"></script>
    <script src="js/js-navbar.js"></script>
    <script src="js/js-designer.js"></script>

</head>

<body>

<div class="container-fluid main-container">

    <div id="header"></div>


    <!-- FILTERS TAB -->
    <div class="container-fluid filters-tab">
        <img src="icons/as-logo-120.png" height="48px" style="display: inline">
        <div style="display: inline; width: 100%;">
            <div class="filter-tab-element" style="color: #c3c3c3;"> Show me: </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter1()" class="dropbtn">Shop All</button>
                <div id="dropdown1" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter2()" class="dropbtn">Clothing</button>
                <div id="dropdown2" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter3()" class="dropbtn">Any color</button>
                <div id="dropdown3" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter4()" class="dropbtn">Shop by</button>
                <div id="dropdown4" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <button class="btn-default btn-filter-clear"> clear </button>
        </div>
    </div>

    <!-- DIRECTORY TAB -->
    <div class="container-fluid directory-tab">
        <div style="display: inline; width: 100%">
            <div class="dir-tab-element"><a href="home.html">Homepage</a></div>
            <div class="dir-tab-element-fix" style="color: #c3c3c3;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="dir-tab-element" style="color: #c3c3c3;"> <a href="projects.html">Designers</a> </div>
            <div class="dir-tab-element-fix" style="color: #c3c3c3;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="dir-tab-element" id="dir-designer-name" style="font-weight: bold;"> Name </div>
        </div>
    </div>



    <!-- DESIGNER TAB -->
    <div class="container-fluid project-tab">

        <div class="row" id="designer-section">
            <div class="col-sm-5">
                <img id="highlight-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
            </div>

            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 id="designer-name"> NOME e COGNOME </h3>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default">FOLLOW</button>
                    </div>
                </div>
                <p id="designer-place"> Place </p>
                <p> Project realized </p>
                <p id="designer-website"> website </p>

                <div class="collapse-group">
                    <p id="designer-description" class="collapse">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <button class="btn btn-default pull-left">View details</button>
                </div>

            </div>
        </div>

    </div>

    <div class="container-fluid" id="info-section">
            <ul class="nav nav-tabs info-nav-tabs" >
                <li class="active"><a data-toggle="tab" href="#details">Collection</a></li>
            </ul>

            <div class="tab-content">
                <div id="details" class="tab-pane fade in active">
                    <div class="container-fluid" id="backed-container">
                        <h4 id="no-related-proj">Designer has no projects at this moment.</h4>
                        <div class="row">
                            <div class="col-sm-3" id="related-0">
                                <a href="#">
                                <div class="thumbnail project-thumbnail">
                                    <img id="related-0-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                    <h4 id="related-0-title"><strong>Title of the project</strong></h4>
                                </div>
                                </a>
                            </div>
                            <div class="col-sm-3" id="related-1">
                                <a href="#">
                                <div class="thumbnail project-thumbnail">
                                    <img id="related-1-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                    <h4 id="related-1-title"><strong>Title of the project</strong></h4>
                                </div>
                                </a>
                            </div>
                            <div class="col-sm-3" id="related-2">
                                <a href="#">
                                <div class="thumbnail project-thumbnail">
                                    <img id="related-2-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                    <h4 id="related-2-title"><strong>Title of the project</strong></h4>
                                </div>
                                </a>
                            </div>
                            <div class="col-sm-3" id="related-3">
                                <a href="#">
                                <div class="thumbnail project-thumbnail">
                                    <img id="related-3-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                    <h4 id="related-3-title"><strong>Title of the project</strong></h4>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <!-- DETAIL TAB -->


    <!-- FOOTER -->
    <footer class="container-fluid ftr text-center" id="footer"></footer>

</div>




</body>
</html>
