<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Air Showroom - Designers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/home-style.css">
  <link rel="stylesheet" type="text/css" href="css/designers-style.css">
  <link rel="stylesheet" type="text/css" href="css/projects-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
	<script>
		$(function(){
			$("#header").load("templates/header.html");
			$("#footer").load("templates/footer.html");
		});
	</script>
	<script src="js/js-api-global.js"></script>
	<script src="js/js-navbar.js"></script>
	<script src="js/js-designers.js"></script>

</head>

<body>

<div class="container-fluid main-container">

	<div id="header"></div>

	<!-- FILTERS MODAL -->
	<div id="filters-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-2">
							<ul id="filters-category-list">
								<li class="filter-section">TYPE</li>
								<li class="filter-item" data-value="-1" data-type="cat" style="border-color: #f1f1f1">Shop All</li>
								<li class="filter-item" data-value="0" data-type="cat">Womanswear</li>
								<li class="filter-item" data-value="1" data-type="cat">Menswear</li>
								<li class="filter-item" data-value="2" data-type="cat">Other</li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul id="filters-country-list">
								<li class="filter-section">COUNTRY</li>
								<li class="filter-item" data-value="-1" data-type="country" style="border-color: #f1f1f1">All countries</li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul id="filters-school-list">
								<li class="filter-section">SCHOOL</li>
								<li class="filter-item" data-value="-1" data-type="school" style="border-color: #f1f1f1">All schools</li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul id="filters-sort-list">
								<li class="filter-section">SORT BY</li>
								<li class="filter-item" data-value="-1" data-type="sort" style="border-color: #f1f1f1">Sales</li>
								<li class="filter-item" data-value="1" data-type="sort">Popularity</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul>
								<li><button class="btn-default" id="filters-modal-set-btn">SET FILTERS</button></li>
								<li><button class="btn-default" id="filters-modal-close-btn">BACK</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



<!-- Page HEADER -->
<div class="jumbotron text-center">
	<h2> We collaborate with furuew fashion designers. </h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua....</p>
</div>



	<!-- FILTERS TAB -->
	<div class="container-fluid filters-tab" id="filters-tab">
		<img src="icons/as-logo-120.png" height="48px" style="display: inline">
		<div style="display: inline; width: 100%;">
			<div class="filter-tab-element" style="color: #c3c3c3;"> Show me: </div>
			<div class="filter-tab-element" style="font-weight: bold;">
				<button onclick="showFilterModal()" class="dropbtn" data-label="cat">All categories</button>
			</div>
			<div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
			<div class="filter-tab-element" style="font-weight: bold;">
				<button onclick="showFilterModal()" class="dropbtn" data-label="country">All countries</button>
			</div>
			<div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
			<div class="filter-tab-element" style="font-weight: bold;">
				<button onclick="showFilterModal()" class="dropbtn" data-label="school">All schools</button>
			</div>
			<div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
			<div class="filter-tab-element" style="font-weight: bold;">
				<button onclick="showFilterModal()" class="dropbtn" data-label="sort">Sort by</button>
			</div>
			<button class="btn-default btn-filter-clear" id="filters-clear-btn"> clear </button>
		</div>
	</div>



<!-- PROJECTS -->
<div class="container-fluid designers-container" id="designers-container">
	<div class="row">
    	<div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        </div>
        	<div class="row">
    	<div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail designers-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="designer_img">
        				<h4><strong>Name</strong></h4>
                        <h4><small>City</small></h4>
       					<div class="row design-row">
       						<div class="col-sm-6">
            					<div>
            						<h5>X</h5>
                					<h5><small>projects</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-6">
           						<div>
           							<h5>Y</h5>
               						<h5><small>realized</small></h5>
       							</div>
           					</div>
    					</div>                     
      				</a>
        </div>
        </div>
       <!-- Left and right controls -->
   <div class="container-fluid text-center">
   <button type="button" class="btn btn-default list-inline design-control" id="design-control-left" onClick="designOffsetLeft()">
   		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
   </button>
   <button type="button" class="btn btn-default list-inline design-control" id="design-control-right" onClick="designOffsetRight()">
   	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
   </button>
   </div>
</div>



<!-- FOOTER -->
<footer class="container-fluid ftr text-center" id="footer">
</footer>

</div>

</body>
</html>
