<!DOCTYPE html>
<html lang="en">
<head>
  <title>Air Showroom - How it works</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/home-style.css">
    <link rel="stylesheet" type="text/css" href="css/how-it-works-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="jquery-1.12.0.min.js"></script>
    <script src="js/js-api-global.js"></script>
    <script src="js/js-navbar.js"></script>

</head>

<body>

<div class="container-fluid main-container">

    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navbar-brand" href="home.html">Air Showroom</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="projects.html">Shop</a></li>
                    <li><a href="designers.html">Designers</a></li>
                    <li><a href="how-it-works.html">How it works</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="campaign.html">+ Campaign</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a id="nav-lang" href="#lang-modal" data-toggle="modal"><span class="glyphicon glyphicon-globe"></span>EN</a></li>
                    <li><a id="nav-currency" href="#currency-modal" data-toggle="modal"><span class="glyphicon glyphicon-euro"></span></a></li>
                    <li><a id="fav-nav-btn" data-toggle="modal"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="#cart-modal" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li id="sign-nav-button"><a href="#signup-modal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id="login-nav-button"><a href="#login-modal" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    <li class="dropdown" id="logged-nav-button">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            <p id="nav-login-name"> Name </p>
                        </a>
                        <ul class="dropdown-menu login-dropdown" id="nav-user-dropdown-menu">
                            <li>
                                <img class="img-circle" id="nav-login-icon" src="https://keepon.life/images/default_user.jpg" height="128px">
                                <h4 id="nav-drop-login-name">name surname</h4>
                                <div><button id="nav-drop-edit-profile-btn" class="btn btn-default" style="margin-top: 10px;"> Edit Profile </button></div>
                                <div><button id="nav-drop-designer-studio-btn" class="btn btn-default" style="margin-top: 10px; display: none"> Designer Studio </button></div>
                                </br>
                                <div><button id="nav-drop-logout-btn" class="btn btn-default" style="margin-top: 10px"> Logout </button></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- SING UP Modal -->
    <div id="signup-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-header">
                    <h1>JOIN THE SHOWROOM</h1>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....</p>
                    <a href="sign-in.html"><img src="icons/arrow-right-512.png" height="256px"/></a>
                    <p>Let's start</p>
                </div>
            </div>

        </div>
    </div>



    <!-- LOGIN MODAL -->
    <div id="login-modal" class="modal fade login-modal" role="dialog">
        <div class="modal-dialog" id="login-modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>LOGIN</h4>
                    <div class="divider"></div>
                    <div class="form-group">
                        <label for="login-email-field">Email</label>
                        <input class="form-control" id="login-email-field" autocomplete="" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="login-password-field">Password</label>
                        <input type="password" class="form-control" id="login-password-field" autocomplete="" placeholder="password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="login-checkbox"> Remember me</label>
                    </div>
                    <p id="login-error-label"> Username or password incorrect </p>
                    <div class="divider"></div>
                    <button id="nav-login-submit-button" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <!-- LANGUAGE Modal -->
    <div id="lang-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-header">
                    <h4>LANGUAGE</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lang-selection">Select language:</label>
                        <select class="form-control" id="lang-selection">
                            <option value="EN">English</option>
                            <option value="CH">Chinese</option>
                            <option value="OT">other language 1</option>
                            <option value="OT">other language 2</option>
                        </select>
                    </div>
                    <button id="nav-lang-submit-button" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <!-- CURRENCY Modal -->
    <div id="currency-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-header">
                    <h4>CURRENCY</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="currency-selection">Select currency:</label>
                        <select class="form-control" id="currency-selection">
                            <option value="EUR">Euro</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                            <option value="YEN">Yen</option>
                        </select>
                    </div>
                    <button id="nav-currency-submit-button" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <!-- SEARCH MODAL -->

    <div id="search-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label> Search: </label>
                            <input type="text" class="form-control" id="text" placeholder="Write here...">
                        </div>
                        <button type="submit" class="btn btn-default" onclick="nav_search()">GO</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <!-- SHOPPING-CART Modal -->
    <div id="cart-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-body">
                    <h3 style="text-align: left;">YOUR CART</h3>
                    <div class="divider"></div>
                    <p id="nav-empty-cart-label"><small>Your cart is empty</small></p>
                    <div id="cart-items-container" style=" max-height: 400px; overflow-y: scroll;">
                    </div>
                    <div id="cart-modal-info">
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-sm-4">
                                <p id="cart-subtotal-price"> ITEM TOTAL</p>
                            </div>
                            <div class="col-sm-4">
                                <p id="cart-shipping-price"> SHIPPING </p>
                            </div>
                            <div class="col-sm-4">
                                <p id="cart-total-price"> TOTAL PRICE </p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <button class="btn-default" id="cart-close-btn"> CLOSE </button>
                    <button class="btn-default" id="cart-checkout-btn"> CHECKOUT </button>
                </div>
            </div>

        </div>
    </div>


<!-- Page HEADER -->
<div class="jumbotron text-center hiw-banner">
	<h2> Bake your favourite projects </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
    <div class="row step-row">
        <div class="col-sm-3">
           <img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" class="img-circle" width="100px"/>
           <h4>Step 1</h4>
        </div>
        <div class="col-sm-3">
           <img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" class="img-circle" width="100px"/>
           <h4>Step 2</h4>
        </div>
        <div class="col-sm-3">
           <img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" class="img-circle" width="100px"/>
           <h4>Step 3</h4>
        </div>
        <div class="col-sm-3">
           <img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" class="img-circle" width="100px"/>
           <h4>Step 4</h4>
        </div>
	</div>
</div>


<!-- PAGE NAV -->
<div class="page-nav">
    <div class="page-nav-item" id="nav-item-1"> <a>Step 1 </a></div>
    <div class="page-nav-item"> <a>Step 2 </a> </div>
    <div class="page-nav-item"> <a>Step 3 </a> </div>
    <div class="page-nav-item"> <a>Step 4 </a> </div>
</div>


<div class="container section-step">
	<div class="row row-white">
    	<div class="col-sm-6 section-text-area">
        	<h3>Step 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
        <div class="col-sm-6 hiw-col-img">
        	<img src="icons/hiw-2.jpg" height="100%" width="100%"/>
        </div>
    </div>
    	<div class="row row-black">
        <div class="col-sm-6 hiw-col-img">
        	<img src="icons/hiw-3.jpg" height="100%" width="100%"/>
        </div>
            	<div class="col-sm-6 section-text-area">
        	<h3>Step 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
    	<div class="row row-white">
    	<div class="col-sm-6 section-text-area">
        	<h3>Step 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
        <div class="col-sm-6 hiw-col-img">
        	<img src="icons/hiw-4.jpg" height="100%" width="100%"/>
        </div>
    </div>
        	<div class="row row-black">
        <div class="col-sm-6 hiw-col-img">
        	<img src="icons/hiw-5.jpg" height="100%" width="100%"/>
        </div>
            	<div class="col-sm-6 section-text-area">
        	<h3>Step 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        </div>
    </div>
</div>

<div class="container last-section">
	<h2>The future's clothes</h2>
    <button class="btn btn-default"> Discover projects </button>
    <button class="btn btn-default"> Start your project </button>
</div>


<!-- FOOTER -->
<footer class="container-fluid ftr text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="row footer-row">
    		<div class="col-sm-1"></div>
            <div class="col-sm-2">
            	<h4>Discover</h4>
                <ul>
                <li><a href="">All projects</a></li>
                <li><a href="">Shoes</a></li>
                <li><a href="">Dress</a></li>
                <li><a href="">dbcskdbcsb</a></li>
                <li><a href="">sdlcjsdlc</a></li>
                <li><a href="">sifhdshc</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4></h4>
                <ul>
                <li><a href="">csldcnsl</a></li>
                <li><a href="">cskncsdnc</a></li>
                <li><a href="">dbcskdbcsb</a></li>
                <li><a href="">sdlcjsdlc</a></li>
                <li><a href="">sifhdshc</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
               	<h4>About Us</h4>
                <ul>
                <li><a href="">How it works</a></li>
                <li><a href="">Wo we are</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Etc</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Help</h4>
                <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Term of use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Hi</h4>
                <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Youtube</a></li>
                <li><a href="">Etc</a></li>
                </ul>
            </div>
            <div class="col-sm-1"></div>       
  </div>
  
  <div class="container">
  <div class="row">
    <div class="col-sm-6"><span class="pull-left"><h4>Next Season Logo</h4></span></div>
    <div class="col-sm-6"><span class="pull-right">
    	<p> 2015 New Season, Inc. All Rigts Reserved </p>
        </span></div>
  </div>
</div>

</footer>

</div>


<!-- JS CODE -->
<script>


</script>


</body>
</html>
