<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>Simple Login with CodeIgniter</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
     <script>

         $(document).ready(function(){
             $("navbutton").click(function(){
                 $.post("http://localhost/cf/index.php/users/login",
                         {
                             email: document.getElementById('email-field').value,
                             password: document.getElementById('password-field').value
                         },
                         function(data,status){
                             alert("Data: " + data + "\nStatus: " + status);
                         });
             });
         });
     </script>

 </head>
 <body>
   <h1>Simple Login with CodeIgniter</h1>
   <?php echo validation_errors(); ?>
            <input id="email-field" type="text" name="email" placeholder="E-mail address"/>
            <input id="password-field" type="password" name="password" placeholder="Password"/>
            <button id="navbutton" class="btn btn-default">Submit</button>
 </body>
</html>