<!DOCTYPE html>
<html lang="en">
<head>
    <title>Air Showroom - Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="home-style.css">
    <link rel="stylesheet" type="text/css" href="project-style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        $(function(){
            $('form[name=sign-in-form]').submit(function(){
                $.post($(this).attr('action'), $(this).serialize(), function(json) {
                    alert(json);
                }, 'json');
                return false;
            });
        });
    </script>

</head>

<body>

<div class="container-fluid main-container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Air Showroom</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="projects.html">Shop</a></li>
                    <li><a href="designers.html">Our Designers</a></li>
                    <li><a href="how-it-works.html">How it works</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="campaign.html">+ Launch a campaign</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search-modal" data-toggle="modal" data-target="search-modal"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#search-modal" data-toggle="modal" data-target="search-modal"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="#search-modal" data-toggle="modal" data-target="search-modal"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li><a href="#signup-modal" data-toggle="modal" data-target="signup-modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        <ul class="dropdown-menu login-dropdown">
                            <li>
                                <form role="form" onSubmit="http://localhost/cf/index.php/users/login" method="post">
                                    <p id="login-error-label"> Username or password incorrect </p>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">username</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">password</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Remember me</label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                    <p> <a>Forgot password?</a> </p>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- SING UP Modal -->
    <div id="signup-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-header">
                    <h1>JOIN THE SHOWROOM</h1>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <img src="http://localhost/cf/views/icons/arrow-right-512.png" height="256px"/>
                    </button>
                </div>
            </div>

        </div>
    </div>



    <!-- LOGIN MODAL -->
    <div id="login-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        </br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- SEARCH MODAL -->

    <div id="search-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="email"><span class="glyphicon glyphicon-search"></span></label>
                            <input type="text" class="form-control" id="text">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- FILTERS TAB -->
    <div class="container-fluid filters-tab">
        <img src="icons/as-logo-120.png" height="48px" style="display: inline">
        <div style="display: inline; width: 100%;">
            <div class="filter-tab-element" style="color: #c3c3c3;"> Show me: </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter1()" class="dropbtn">Shop All</button>
                <div id="dropdown1" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter2()" class="dropbtn">Clothing</button>
                <div id="dropdown2" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter3()" class="dropbtn">Any color</button>
                <div id="dropdown3" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter4()" class="dropbtn">Shop by</button>
                <div id="dropdown4" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <button class="btn-default btn-filter-clear"> clear </button>
        </div>
    </div>

    <!-- DIRECTORY TAB -->
    <div class="container-fluid directory-tab">
        <div style="display: inline; width: 100%">
            <div class="dir-tab-element"><a href="home.html">Homepage</a></div>
            <div class="dir-tab-element-fix" style="color: #c3c3c3;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="dir-tab-element" style="color: #c3c3c3;"> <a href="projects.html">Online Shop</a> </div>
            <div class="dir-tab-element-fix" style="color: #c3c3c3;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="dir-tab-element" id="dir-product-name" style="font-weight: bold;"> Name of the product </div>
        </div>
    </div>

    <!-- PROJECT TAB -->
    <div class="container-fluid project-tab">
        <h3 id="project-title"> Titolo </h3>
        <h5 id="project-designer"> subtitle </h5>

        <div class="row" id="product_section">
            <div class="col-sm-5" style="height:500px;">
                <img id="highlight-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
            </div>

            <div class="col-sm-2" style="height:500px;">
                <img class="secondary-img" id="secondary-img-1" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
                <img class="secondary-img" id="secondary-img-2" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
                <img class="secondary-img" id="secondary-img-3" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
            </div>


            <div class="col-sm-5" style="height:500px;">
                <div id="metrics-section" class="row" style="height:75px;">
                    <div class="row design-row">
                        <div class="col-sm-4">
                            <div>
                                <h5 id="price-label">euro</h5>
                                <h6><small>price</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <h5 id="founded-label">X/Y</h5>
                                <h6><small>founded</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <h5 id="days-to-go-label">days</h5>
                                <h6><small>to go</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:150px;">
                    <div id="size-section" class="col-sm-6">
                        <h5> CHOOSE SIZE </h5>
                        <div class="dropdown filter-dropdown" id="filter-color">
                            <button class="btn btn-default dropdown-toggle filter-dropdown-button" type="button" data-toggle="dropdown" id="size-button">XS<span class="glyphicon glyphicon-menu-down pull-right"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="action-white">XS</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-black">S</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-yellow">M</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-green">L</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-blue">XL</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-red">XXL</a></li>
                            </ul>
                        </div>
                        </br>
                        <a href="#" style="text-decoration: underline; color: #1e1e1e;">Size table</a>
                    </div>
                    <div id="color-section" class="col-sm-6">
                        <div class="row" style="height: 60px">
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="24" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="green" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="24" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="red" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="24" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="blue" />
                            </svg></div>
                        </div>
                        <div class="row" style="height: 60px">
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="16" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="yellow" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="16" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="black" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="16" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="white" />
                            </svg></div>
                        </div>
                    </div>
                </div>

                <div id="info-nav-section">
                <ul class="nav nav-tabs info-nav-tabs">
                    <li class="active" style="width: 50%; background-color: transparent; text-decoration: none;" ><a data-toggle="tab" href="#designer-info">DESIGNER</a></li>
                    <li style="width: 50%; background-color: transparent; text-decoration: none;"><a data-toggle="tab" href="#product-info">DESCRIPTION</a></li>
                </ul>

                <div class="tab-content">
                    <div id="designer-info" class="tab-pane fade in active" style="height:150px;">
                        <div class="row">
                            <div class="col-sm-6"> <img class="img-circle" id="designer-avatar" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" height="92px" width="92px"></div>
                            <div id="designer-info-col-text" class="col-sm-6">
                                <p id="designer-info-name" style="font-weight: bold;"> Name Surname </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p id="designer-info-projects">projects</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p id="designer-info-realized">realized</p>
                                    </div>
                                </div>
                                <p id="designer-info-website"> website </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p><a href="#" style="text-decoration: none; font-weight: bold; color: #1e1e1e">See full info</a></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p id="designer-info-contact"><a href="#" style="text-decoration: none; font-weight: bold; color: #1e1e1e">Contact</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="product-info" class="tab-pane fade" style="height:150px;">
                        <p>Product description</p>
                    </div>
                </div>
                </div>

                <div id="icons-section" class="row" style="height:75px;">
                    <div class="col-sm-6"> <button class="btn btn-default" id="wishlist-button"> ADD TO WISHLIST </button></div>
                    <div class="col-sm-6">
                        <div class="row" style="height: 75px">
                            <div class="col-sm-3"><img class="social-logo" src="icons/facebook-logo.png"></div>
                            <div class="col-sm-3"><img class="social-logo" src="icons/twitter-logo.png"></div>
                            <div class="col-sm-3"><img class="social-logo" src="icons/instagram-logo.png"></div>
                            <div class="col-sm-3"><img class="social-logo" src="icons/linkedin-logo.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- INFO TAB -->

        <div class="container-fluid" id="info-section">
        <ul class="nav nav-tabs info-nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">More Details</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
            <li><a data-toggle="tab" href="#related">Related Products</a></li>
            <span class="pull-right">
    				<a href="projects.html"><button type="button" class="btn btn-default" id="chart-button">ADD TO CHART</button></a>
        		</span>
        </ul>

        <div class="tab-content">
            <div id="details" class="tab-pane fade in active">
                <h4>MATERIALS</h4>
                <p id="materials-field">Some content.</p>
                <h4>WASH DRY</h4>
                <p id="wash-dry-field">Some content.</p>
                <h4>OTHER</h4>
                <p id="other-info-field">Some content.</p>
            </div>
            <div id="comments" class="tab-pane fade">
                <h4 id="no-comments-label"> No comments for this product </h4>
                <div class="container" id="comments-container">
                    </br>
                    <div class="row comment-row" id="c-r-0">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c0-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c0-user-name">

                                </div>
                                <div class="panel-body" id="c0-user-text">
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                    <div class="row comment-row" id="c-r-1">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c1-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c1-user-name">

                                </div>
                                <div class="panel-body" id="c1-user-text">
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                    <div class="row comment-row" id="c-r-2">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c2-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c2-user-name">

                                </div>
                                <div class="panel-body" id="c2-user-text">
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                    <div class="row comment-row" id="c-r-3">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c3-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c3-user-name" >

                                </div>
                                <div class="panel-body" id="c3-user-text" >
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                </div><!-- /container -->
                </div>




            <!-- RELATED PRODUCTS -->

            <div id="related" class="tab-pane fade">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 related-product" id="related-0">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-0-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-0-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                        <div class="col-sm-3 related-product" id="related-1">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-1-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-1-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                        <div class="col-sm-3 related-product" id="related-2">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-2-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-2-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                        <div class="col-sm-3 related-product" id="related-3">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-3-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-3-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- DETAIL TAB -->


    <!-- FOOTER -->
    <footer class="container-fluid ftr text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <div class="row footer-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h4>Discover</h4>
                    <ul>
                        <li><a href="">All projects</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Dress</a></li>
                        <li><a href="">dbcskdbcsb</a></li>
                        <li><a href="">sdlcjsdlc</a></li>
                        <li><a href="">sifhdshc</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4></h4>
                    <ul>
                        <li><a href="">csldcnsl</a></li>
                        <li><a href="">cskncsdnc</a></li>
                        <li><a href="">dbcskdbcsb</a></li>
                        <li><a href="">sdlcjsdlc</a></li>
                        <li><a href="">sifhdshc</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4>About Us</h4>
                    <ul>
                        <li><a href="">How it works</a></li>
                        <li><a href="">Wo we are</a></li>
                        <li><a href="">Press</a></li>
                        <li><a href="">Etc</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4>Help</h4>
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Term of use</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Cookie Policy</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4>Hi</h4>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Etc</a></li>
                    </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6"><span class="pull-left"><h4>Next Season Logo</h4></span></div>
                <div class="col-sm-6"><span class="pull-right">
    	<p> 2015 New Season, Inc. All Rigts Reserved </p>
        </span></div>
            </div>
        </div>

    </footer>

</div>


<!-- JS CODE -->
<script>
    var base_url = "http://localhost/cf/";
    var url_project = base_url+"index.php/projects/view_project/"+"3";

    var project_id;
    var project_data;


    function dropdownFilter1() {
        document.getElementById("dropdown1").classList.toggle("show");
    }
    function dropdownFilter2() {
        document.getElementById("dropdown2").classList.toggle("show");
    }
    function dropdownFilter3() {
        document.getElementById("dropdown3").classList.toggle("show");
    }
    function dropdownFilter4() {
        document.getElementById("dropdown4").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }




    function getProject(){

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var json_array = JSON.parse(xmlhttp.responseText);
                project_data = json_array.rows[0];
                updateProjectInfo(project_data);
            }
        };
        xmlhttp.open("GET", url_project, true);
        xmlhttp.send();
    }

    function getComments(data){
        var url_comments = base_url+"index.php/comment/view_comments/"+data.users_id;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var json_array = JSON.parse(xmlhttp.responseText);
                var comments_data = json_array.rows;
                updateComments(comments_data);
            }
        };
        xmlhttp.open("GET", url_comments, true);
        xmlhttp.send();
    }

    function getUser(comment_data, index){
        var url_user = base_url+"index.php/users/view_user/"+comment_data.comments_users_id;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var json_array = JSON.parse(xmlhttp.responseText);
                var user_data = json_array.rows;


                //document.getElementById("c"+index+"-user-icon").src = ..... ;
                document.getElementById("c"+index+"-user-name").innerHTML = user_data.firstname + " " + user_data.lastname;
                document.getElementById("c"+index+"-user-text").innerHTML = comment_data.comment;
                document.getElementById("c-r-"+index).style.display = "inline";
            }
        };
        xmlhttp.open("GET", url_user, true);
        xmlhttp.send();
    }


    function getRelatedProducts(data) {
        var url_related = base_url+"index.php/projects/view_project_related/"+data.projects_id;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var json_array = JSON.parse(xmlhttp.responseText);
                var related_data = json_array.rows;

                for(i=0; i<related_data.length && i<4; i++) {
                    document.getElementById("related-"+i+"-img").src = base_url+"pic/"+related_data[i].projects_id+"_1.png";
                    document.getElementById("related-"+i+"-title").innerHTML = related_data[i].title;
                    document.getElementById("related-"+i).style.display = "inline";
                    document.getElementById("related-"+i).childNodes[1].href = base_url+"views/project.html?"+related_data[i].projects_id;
                }

            }
        };
        xmlhttp.open("GET", url_related, true);
        xmlhttp.send();
    }



    function updateProjectInfo(data) {
        document.getElementById("project-title").innerHTML = data.title;
        document.getElementById("dir-product-name").innerHTML = data.title;
        document.getElementById("project-designer").innerHTML = "by " + data.firstname + " " + data.lastname;
        document.getElementById("highlight-img").src = "http://localhost/cf/pic/"+data.projects_id+"_1.png";
        document.getElementById("secondary-img-1").src = "http://localhost/cf/pic/"+data.projects_id+"_2.png";
        document.getElementById("secondary-img-2").src = "http://localhost/cf/pic/"+data.projects_id+"_3.png";
        document.getElementById("secondary-img-3").src = "http://localhost/cf/pic/"+data.projects_id+"_4.png";
        document.getElementById("price-label").innerHTML = data.price+"€";
        document.getElementById("founded-label").innerHTML = data.sale_current + " / " + data.sale_minimum;
        document.getElementById("days-to-go-label").innerHTML = data.round + " days";
        document.getElementById("product-info").firstElementChild.innerHTML = data.description;
        document.getElementById("designer-avatar").src = base_url+"avatar/"+data.users_id + ".png";
        document.getElementById("designer-info-name").innerHTML = data.firstname + " " + data.lastname;
        var link = "http://" + data.website;
        document.getElementById("designer-info-website").innerHTML = "<a target='_blank' href="+link+">" +data.website+"</a>";
        document.getElementById("materials-field").innerHTML = data.materials;
        document.getElementById("wash-dry-field").innerHTML = data.wash_dry;
        document.getElementById("other-info-field").innerHTML = data.other;

        getRelatedProducts(data);
        getComments(data);
    }

    function updateComments(comments_data) {
        if(comments_data.length==0) { document.getElementById("no-comments-label").style.display = "inline"; return;}
        for(i=0; i<comments_data.length && i<4; i++) {
            getUser(comments_data[i], i);
        }
    }

    var str = self.location.search;
    var id = str.replace("?", "");
    url_project = base_url+"index.php/projects/view_project/"+id;

    getProject();





</script>


</body>
</html>
