<!DOCTYPE html>
<html lang="en">
<head>
    <title>Air Showroom - Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
    <link rel="stylesheet" type="text/css" href="css/project-style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="js/js-api-global.js"></script>
    <script src="js/js-navbar.js"></script>
    <script src="js/js-project.js"></script>

</head>

<body>

<div class="container-fluid main-container">

    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navbar-brand" href="home.html">Air Showroom</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="projects.html">Shop</a></li>
                    <li><a href="designers.html">Our Designers</a></li>
                    <li><a href="how-it-works.html">How it works</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="campaign.html">+ Launch a campaign</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></a></li>
                    <li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-heart"></span></a></li>
                    <li><a href="#cart-modal" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                    <li id="sign-nav-button"><a href="#signup-modal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id="login-nav-button"><a href="#login-modal" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    <li class="dropdown" id="logged-nav-button">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            <p id="nav-login-name"> Name </p>
                        </a>
                        <ul class="dropdown-menu login-dropdown" id="nav-user-dropdown-menu">
                            <li>
                                <img class="img-circle" id="nav-login-icon" src="https://keepon.life/images/default_user.jpg" height="128px">
                                <h4 id="nav-drop-login-name">name surname</h4>
                                <div><button id="nav-drop-edit-profile-btn" class="btn btn-default" style="margin-top: 10px;"> Edit Profile </button></div>
                                <div><button id="nav-drop-designer-studio-btn" class="btn btn-default" style="margin-top: 10px; display: none"> Designer Studio </button></div>
                                </br>
                                <div><button id="nav-drop-logout-btn" class="btn btn-default" style="margin-top: 10px"> Logout </button></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- SING UP Modal -->
    <div id="signup-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-header">
                    <h1>JOIN THE SHOWROOM</h1>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....</p>
                    <a href="sign-in.html"><img src="icons/arrow-right-512.png" height="256px"/></a>
                    <p>Let's start</p>
                </div>
            </div>

        </div>
    </div>



    <!-- LOGIN MODAL -->
    <div id="login-modal" class="modal fade login-modal" role="dialog">
        <div class="modal-dialog" id="login-modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>LOGIN</h4>
                    <div class="divider"></div>
                    <div class="form-group">
                        <label for="login-email-field">Email</label>
                        <input class="form-control" id="login-email-field" autocomplete="" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="login-password-field">Password</label>
                        <input type="password" class="form-control" id="login-password-field" autocomplete="" placeholder="password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="login-checkbox"> Remember me</label>
                    </div>
                    <p id="login-error-label"> Username or password incorrect </p>
                    <div class="divider"></div>
                    <button id="nav-login-submit-button" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>

        </div>
    </div>



    <!-- SEARCH MODAL -->

    <div id="search-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label> Search: </label>
                            <input type="text" class="form-control" id="text" placeholder="Write here...">
                        </div>
                        <button type="submit" class="btn btn-default" onclick="nav_search()">GO</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <!-- SHOPPING-CART Modal -->
    <div id="cart-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content signin-modal">
                <div class="modal-body">
                    <h3 style="text-align: left;">YOUR CART</h3>
                    <div class="divider"></div>
                    <div class="cart-item">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="icons/placeholder.png" width="100%">
                            </div>
                            <div class="col-sm-3">
                                <p> DESCRIPTION</p>
                            </div>
                            <div class="col-sm-2">
                                <p> QUANTITY</p>
                            </div>
                            <div class="col-sm-2">
                                <p> AVAILABILITY</p>
                            </div>
                            <div class="col-sm-2">
                                <p> PRICE</p>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn-default"> ADD TO WISHLIST </button>
                            <button class="btn-default"> REMOVE </button>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p> ITEM TOTAL</p>
                        </div>
                        <div class="col-sm-4">
                            <p> SHIPPING </p>
                        </div>
                        <div class="col-sm-4">
                            <p> TOTAL PRICE </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <button class="btn-default"> BACK </button>
                    <button class="btn-default" id="cart-checkout-btn"> CHECKOUT </button>
                </div>
            </div>

        </div>
    </div>

<!-- ADD TO CART MODAL -->
    <div id="cart-add-modal" class="modal fade login-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4>CART</h4>
                    <div class="divider"></div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="cart-modal-pieces-label">How many?</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="cart-modal-pieces-label" value="1">
                            </div>
                        </div>
                    <div style="text-align: center;">
                        <button class="btn btn-default save-btn" id="add-cart-cancel">CANCEL</button>
                        <button class="btn btn-default cancel-btn" id="add-cart-confirm">ADD TO CART</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- FILTERS TAB -->
    <div class="container-fluid filters-tab">
        <img src="icons/as-logo-120.png" height="48px" style="display: inline">
        <div style="display: inline; width: 100%;">
            <div class="filter-tab-element" style="color: #c3c3c3;"> Show me: </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter1()" class="dropbtn">Shop All</button>
                <div id="dropdown1" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter2()" class="dropbtn">Clothing</button>
                <div id="dropdown2" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter3()" class="dropbtn">Any color</button>
                <div id="dropdown3" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="dropdownFilter4()" class="dropbtn">Shop by</button>
                <div id="dropdown4" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <button class="btn-default btn-filter-clear"> clear </button>
        </div>
    </div>

    <!-- DIRECTORY TAB -->
    <div class="container-fluid directory-tab">
        <div style="display: inline; width: 100%">
            <div class="dir-tab-element"><a href="home.html">Homepage</a></div>
            <div class="dir-tab-element-fix" style="color: #c3c3c3;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="dir-tab-element" style="color: #c3c3c3;"> <a href="projects.html">Online Shop</a> </div>
            <div class="dir-tab-element-fix" style="color: #c3c3c3;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="dir-tab-element" id="dir-product-name" style="font-weight: bold;"> Name of the product </div>
        </div>
    </div>

    <!-- PROJECT TAB -->
    <div class="container-fluid project-tab">
        <h3 id="project-title"> Titolo </h3>
        <h5 id="project-designer"> subtitle </h5>

        <div class="row" id="product_section">
            <div class="col-sm-5" style="height:500px;">
                <img id="highlight-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
            </div>

            <div class="col-sm-2" style="height:500px;">
                <img class="secondary-img" id="secondary-img-1" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
                <img class="secondary-img" id="secondary-img-2" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
                <img class="secondary-img" id="secondary-img-3" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png">
            </div>


            <div class="col-sm-5" style="height:500px;">
                <div id="metrics-section" class="row" style="height:75px;">
                    <div class="row design-row">
                        <div class="col-sm-4">
                            <div>
                                <h5 id="price-label">euro</h5>
                                <h6><small>price</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <h5 id="founded-label">X/Y</h5>
                                <h6><small>founded</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <h5 id="days-to-go-label">days</h5>
                                <h6><small>to go</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:150px;">
                    <div id="size-section" class="col-sm-6">
                        <h5> CHOOSE SIZE </h5>
                        <div class="dropdown filter-dropdown" id="filter-color">
                            <button class="btn btn-default dropdown-toggle filter-dropdown-button" type="button" data-toggle="dropdown" id="size-button">XS<span class="glyphicon glyphicon-menu-down pull-right"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="action-white">XS</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-black">S</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-yellow">M</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-green">L</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-blue">XL</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="action-red">XXL</a></li>
                            </ul>
                        </div>
                        </br>
                        <a href="#" style="text-decoration: underline; color: #1e1e1e;">Size table</a>
                    </div>
                    <div id="color-section" class="col-sm-6">
                        <div class="row" style="height: 60px">
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="24" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="green" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="24" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="red" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="24" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="blue" />
                            </svg></div>
                        </div>
                        <div class="row" style="height: 60px">
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="16" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="yellow" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="16" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="black" />
                            </svg></div>
                            <div class="col-sm-4"><svg width="75" height="60">
                                <circle class="color-circle" cx="30" cy="16" r="14"
                                        stroke="#C3C3C3" stroke-width="2" fill="white" />
                            </svg></div>
                        </div>
                    </div>
                </div>

                <div id="info-nav-section">
                <ul class="nav nav-tabs info-nav-tabs">
                    <li class="active" style="width: 50%; background-color: transparent; text-decoration: none;" ><a data-toggle="tab" href="#designer-info">DESIGNER</a></li>
                    <li style="width: 50%; background-color: transparent; text-decoration: none;"><a data-toggle="tab" href="#product-info">DESCRIPTION</a></li>
                </ul>

                <div class="tab-content">
                    <div id="designer-info" class="tab-pane fade in active" style="height:150px;">
                        <div class="row">
                            <div class="col-sm-6"> <img class="img-circle" id="designer-avatar" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" height="92px" width="92px"></div>
                            <div id="designer-info-col-text" class="col-sm-6">
                                <p id="designer-info-name" style="font-weight: bold;"> Name Surname </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p id="designer-info-projects">projects</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p id="designer-info-realized">realized</p>
                                    </div>
                                </div>
                                <p id="designer-info-website"> website </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p><a href="#" style="text-decoration: none; font-weight: bold; color: #1e1e1e">See full info</a></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p id="designer-info-contact"><a href="#" style="text-decoration: none; font-weight: bold; color: #1e1e1e">Contact</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="product-info" class="tab-pane fade" style="height:150px;">
                        <p>Product description</p>
                    </div>
                </div>
                </div>

                <div id="icons-section" class="row" style="height:75px;">
                    <div class="col-sm-6"> <button class="btn btn-default" id="wishlist-button"> ADD TO WISHLIST </button></div>
                    <div class="col-sm-6">
                        <div class="row" style="height: 75px">
                            <div class="col-sm-3"><img class="social-logo" src="icons/facebook-logo.png"></div>
                            <div class="col-sm-3"><img class="social-logo" src="icons/twitter-logo.png"></div>
                            <div class="col-sm-3"><img class="social-logo" src="icons/instagram-logo.png"></div>
                            <div class="col-sm-3"><img class="social-logo" src="icons/linkedin-logo.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- INFO TAB -->

        <div class="container-fluid" id="info-section">
        <ul class="nav nav-tabs info-nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">More Details</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
            <li><a data-toggle="tab" href="#related">Related Products</a></li>
            <span class="pull-right">
    				<a href="#cart-add-modal" data-toggle="modal">
                        <button type="button" class="btn btn-default" id="cart-button">ADD TO CHART</button>
                    </a>
                <button type="button" class="btn btn-default" id="cart-remove-button" style="display: none;">REMOVE FROM CART</button>
        		</span>
        </ul>

        <div class="tab-content">
            <div id="details" class="tab-pane fade in active">
                <h4>MATERIALS</h4>
                <p id="materials-field">Some content.</p>
                <h4>WASH DRY</h4>
                <p id="wash-dry-field">Some content.</p>
                <h4>OTHER</h4>
                <p id="other-info-field">Some content.</p>
            </div>
            <div id="comments" class="tab-pane fade">
                <h4 id="no-comments-label"> No comments for this product </h4>
                <div class="container" id="comments-container">
                    </br>
                    <div class="row comment-row" id="c-r-0">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c0-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c0-user-name">

                                </div>
                                <div class="panel-body" id="c0-user-text">
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                    <div class="row comment-row" id="c-r-1">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c1-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c1-user-name">

                                </div>
                                <div class="panel-body" id="c1-user-text">
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                    <div class="row comment-row" id="c-r-2">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c2-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c2-user-name">

                                </div>
                                <div class="panel-body" id="c2-user-text">
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                    <div class="row comment-row" id="c-r-3">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" id="c3-user-icon" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="c3-user-name" >

                                </div>
                                <div class="panel-body" id="c3-user-text" >
                                    Panel content
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div><!-- /row -->

                </div><!-- /container -->
                </div>




            <!-- RELATED PRODUCTS -->

            <div id="related" class="tab-pane fade">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 related-product" id="related-0">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-0-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-0-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                        <div class="col-sm-3 related-product" id="related-1">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-1-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-1-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                        <div class="col-sm-3 related-product" id="related-2">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-2-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-2-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                        <div class="col-sm-3 related-product" id="related-3">
                            <a class="thumbnail project-thumbnail" href="#">
                                <img id="related-3-img" src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
                                <h4 id="related-3-title"><strong>Title of the project</strong></h4>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- DETAIL TAB -->


    <!-- FOOTER -->
    <footer class="container-fluid ftr text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <div class="row footer-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h4>Discover</h4>
                    <ul>
                        <li><a href="">All projects</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Dress</a></li>
                        <li><a href="">dbcskdbcsb</a></li>
                        <li><a href="">sdlcjsdlc</a></li>
                        <li><a href="">sifhdshc</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4></h4>
                    <ul>
                        <li><a href="">csldcnsl</a></li>
                        <li><a href="">cskncsdnc</a></li>
                        <li><a href="">dbcskdbcsb</a></li>
                        <li><a href="">sdlcjsdlc</a></li>
                        <li><a href="">sifhdshc</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4>About Us</h4>
                    <ul>
                        <li><a href="">How it works</a></li>
                        <li><a href="">Wo we are</a></li>
                        <li><a href="">Press</a></li>
                        <li><a href="">Etc</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4>Help</h4>
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Term of use</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Cookie Policy</a></li>
                    </ul>
            </div>
            <div class="col-sm-2">
                <h4>Hi</h4>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Etc</a></li>
                    </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6"><span class="pull-left"><h4>Next Season Logo</h4></span></div>
                <div class="col-sm-6"><span class="pull-right">
    	<p> 2015 New Season, Inc. All Rigts Reserved </p>
        </span></div>
            </div>
        </div>

    </footer>

</div>

</body>
</html>
