<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Air Showroom - Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/home-style.css">
  <link rel="stylesheet" type="text/css" href="css/projects-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="js/js-api-global.js"></script>
	<script src="js/js-navbar.js"></script>
	<script src="js/js-projects.js"></script>

</head>

<body>

<div class="container-fluid main-container">

	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="navbar-brand" href="home.html">Air Showroom</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="projects.html">Shop</a></li>
					<li><a href="designers.html">Our Designers</a></li>
					<li><a href="how-it-works.html">How it works</a></li>
					<li><a href="about-us.html">About</a></li>
					<li><a href="campaign.html">+ Launch a campaign</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></a></li>
					<li><a href="#search-modal" data-toggle="modal"><span class="glyphicon glyphicon-heart"></span></a></li>
					<li><a href="#cart-modal" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
					<li id="sign-nav-button"><a href="#signup-modal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li id="login-nav-button"><a href="#login-modal" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

					<li class="dropdown" id="logged-nav-button">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
							<p id="nav-login-name"> Name </p>
						</a>
						<ul class="dropdown-menu login-dropdown" id="nav-user-dropdown-menu">
							<li>
								<img class="img-circle" id="nav-login-icon" src="https://keepon.life/images/default_user.jpg" height="128px">
								<h4 id="nav-drop-login-name">name surname</h4>
								<div><button id="nav-drop-edit-profile-btn" class="btn btn-default" style="margin-top: 10px;"> Edit Profile </button></div>
								<div><button id="nav-drop-designer-studio-btn" class="btn btn-default" style="margin-top: 10px; display: none"> Designer Studio </button></div>
								</br>
								<div><button id="nav-drop-logout-btn" class="btn btn-default" style="margin-top: 10px"> Logout </button></div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>



	<!-- SING UP Modal -->
	<div id="signup-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content signin-modal">
				<div class="modal-header">
					<h1>JOIN THE SHOWROOM</h1>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam....</p>
					<a href="sign-in.html"><img src="icons/arrow-right-512.png" height="256px"/></a>
					<p>Let's start</p>
				</div>
			</div>

		</div>
	</div>



	<!-- LOGIN MODAL -->
	<div id="login-modal" class="modal fade login-modal" role="dialog">
		<div class="modal-dialog" id="login-modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h4>LOGIN</h4>
					<div class="divider"></div>
					<div class="form-group">
						<label for="login-email-field">Email</label>
						<input class="form-control" id="login-email-field" autocomplete="" placeholder="email">
					</div>
					<div class="form-group">
						<label for="login-password-field">Password</label>
						<input type="password" class="form-control" id="login-password-field" autocomplete="" placeholder="password">
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="login-checkbox"> Remember me</label>
					</div>
					<p id="login-error-label"> Username or password incorrect </p>
					<div class="divider"></div>
					<button id="nav-login-submit-button" type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>

		</div>
	</div>



	<!-- SEARCH MODAL -->

	<div id="search-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label> Search: </label>
							<input type="text" class="form-control" id="text" placeholder="Write here...">
						</div>
						<button type="submit" class="btn btn-default" onclick="nav_search()">GO</button>
					</form>
				</div>
			</div>

		</div>
	</div>


	<!-- SHOPPING-CART Modal -->
	<div id="cart-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content signin-modal">
				<div class="modal-body">
					<h3 style="text-align: left;">YOUR CART</h3>
					<div class="divider"></div>
					<p id="nav-empty-cart-label"><small>Your cart is empty</small></p>
					<div id="cart-items-container" style=" max-height: 400px; overflow-y: scroll;">
					</div>
					<div id="cart-modal-info">
						<div class="divider"></div>
						<div class="row">
							<div class="col-sm-4">
								<p id="cart-subtotal-price"> ITEM TOTAL</p>
							</div>
							<div class="col-sm-4">
								<p id="cart-shipping-price"> SHIPPING </p>
							</div>
							<div class="col-sm-4">
								<p id="cart-total-price"> TOTAL PRICE </p>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<button class="btn-default" id="cart-close-btn"> CLOSE </button>
					<button class="btn-default" id="cart-checkout-btn"> CHECKOUT </button>
				</div>
			</div>

		</div>
	</div>


	<!-- FILTERS MODAL -->

	<div id="filters-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-2">
							<ul id="filters-gender-list">
								<li class="filter-section">TYPE</li>
								<li class="filter-item" data-value="-1" data-type="gender" style="border-color: #f1f1f1">Shop All</li>
								<li class="filter-item" data-value="0" data-type="gender">Womanswear</li>
								<li class="filter-item" data-value="1" data-type="gender">Menswear</li>
							</ul>
							<div class="divider filters-divider"></div>
							<ul id="filters-sort-list">
								<li class="filter-section">SORT BY</li>
								<li class="filter-item" data-value="-1" data-type="sort" style="border-color: #f1f1f1">New arrival</li>
								<li class="filter-item" data-value="1" data-type="sort">Last Chance</li>
								<li class="filter-item" data-value="3" data-type="sort">Popularity</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul style="margin-bottom: 0">
								<li class="filter-section">CLOTHING</li>
							</ul>
							<div class="row">
								<div class="col-sm-6">
									<ul id="filters-type-list1">
										<li class="filter-item" data-value="-1" data-type="type" style="border-color: #f1f1f1">All</li>
										<li class="filter-item" data-value="1" data-type="type">Jackets And Coats</li>
										<li class="filter-item" data-value="2" data-type="type">Blouses</li>
										<li class="filter-item" data-value="3" data-type="type">Cropped</li>
										<li class="filter-item" data-value="4" data-type="type">Knitwear</li>
										<li class="filter-item" data-value="5" data-type="type">Shirts</li>
										<li class="filter-item" data-value="6" data-type="type">T-Shirts</li>
										<li class="filter-item" data-value="7" data-type="type">Tunics</li>
										<li class="filter-item" data-value="8" data-type="type">Tanks</li>
										<li class="filter-item" data-value="9" data-type="type">Evening</li>
										<li class="filter-item" data-value="10" data-type="type">Casual</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul id="filters-type-list2">
										<li class="filter-item" data-value="11" data-type="type">Midi</li>
										<li class="filter-item" data-value="12" data-type="type">Maxi</li>
										<li class="filter-item" data-value="13" data-type="type">Mini</li>
										<li class="filter-item" data-value="14" data-type="type">Gown</li>
										<li class="filter-item" data-value="15" data-type="type">Jump Suit</li>
										<li class="filter-item" data-value="16" data-type="type">Bridal</li>
										<li class="filter-item" data-value="17" data-type="type">Skirts</li>
										<li class="filter-item" data-value="18" data-type="type">Trousers</li>
										<li class="filter-item" data-value="19" data-type="type">Shorts</li>
										<li class="filter-item" data-value="20" data-type="type">Leggins</li>
										<li class="filter-item" data-value="21" data-type="type">Jeans</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<ul id="filters-color-list">
								<li class="filter-section">COLOR</li>
								<li class="filter-item" data-value="-1" data-type="color" style="border-color: #f1f1f1">Any color</li>
								<li class="filter-item" data-value="2" data-type="color">Black</li>
								<li class="filter-item" data-value="0" data-type="color">Multicolor</li>
								<li class="filter-item" data-value="1" data-type="color">White</li>
								<li class="filter-item" data-value="0" data-type="color">Grey</li>
								<li class="filter-item" data-value="5" data-type="color">Blue</li>
								<li class="filter-item" data-value="0" data-type="color">Pattern</li>
								<li class="filter-item" data-value="4" data-type="color">Green</li>
								<li class="filter-item" data-value="3" data-type="color">Yellow</li>
								<li class="filter-item" data-value="6" data-type="color">Red</li>
								<li class="filter-item" data-value="7" data-type="color">Orange</li>
								<li class="filter-item" data-value="0" data-type="color">Other</li>
							</ul>
						</div>
						<div class="col-sm-4">
							<ul>
								<li><button class="btn-default" id="filters-modal-set-btn">SET FILTERS</button></li>
								<li><button class="btn-default" id="filters-modal-close-btn">BACK</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


<!-- Page HEADER -->
<div class="jumbotron text-center">
	<h2> Good projects, real designers. </h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua....</p>
</div>

	<!-- FILTERS TAB -->
	<div class="container-fluid filters-tab" id="filters-tab">
		<img src="icons/as-logo-120.png" height="48px" style="display: inline">
		<div style="display: inline; width: 100%;">
			<div class="filter-tab-element" style="color: #c3c3c3;"> Show me: </div>
			<div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="showFilterModal()" class="dropbtn" data-label="gender">Shop All</button>
            </div>
			<div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="showFilterModal()" class="dropbtn" data-label="type">Any type</button>
            </div>
			<div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="showFilterModal()" class="dropbtn" data-label="color">Any color</button>
            </div>
			<div class="filter-tab-element" style="font-weight: bold;"> <span class="glyphicon glyphicon-menu-right"></span>  </div>
            <div class="filter-tab-element" style="font-weight: bold;">
                <button onclick="showFilterModal()" class="dropbtn" data-label="sort">Shop by</button>
            </div>
            <button class="btn-default btn-filter-clear" id="filters-clear-btn"> clear </button>
		</div>
	</div>

<!-- PROJECTS -->
    <div class="container-fluid"><h5 id="no-result-banner"> Sorry, no results for these filters. </h5></div>

<div class="container-fluid projects-container" id="projects-container">
			<div class="row">
				<div class="col-sm-3">
					<a class="thumbnail project-thumbnail" href="#">
						<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
						<h4><strong>Title of the project</strong></h4>
						<div class="row design-row">
							<div class="col-sm-4">
								<div>
									<h5>euro</h5>
									<h5><small>price</small></h5>
								</div>
							</div>
							<div class="col-sm-4">
								<div>
									<h5>X/Y</h5>
									<h5><small>founded</small></h5>
								</div>
							</div>
							<div class="col-sm-4">
								<div>
									<h5>days</h5>
									<h5><small>to go</small></h5>
								</div>
							</div>
						</div>
						<div class="progress design-progress">
							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
								 aria-valuemin="0" aria-valuemax="100" style="width:30%">
								<span class="sr-only">30% Complete</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-3">
					<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
    </div>
    <div class="row">
    	<div class="col-sm-3">
      				<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
        <div class="col-sm-3">
      				<a class="thumbnail project-thumbnail" href="#">
        				<img src="http://www.indre-reisid.ee/wp-content/themes/envision/lib/images/default-placeholder.png" alt="project_img">
        				<h4><strong>Title of the project</strong></h4>
       					<div class="row design-row">
       						<div class="col-sm-4">
            					<div>
            						<h5>euro</h5>
                					<h5><small>price</small></h5>
            					</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>X/Y</h5>
               						<h5><small>founded</small></h5>
       							</div>
           					</div>
           					<div class="col-sm-4">
           						<div>
           							<h5>days</h5>
               						<h5><small>to go</small></h5>
           						</div>
           					</div>
    					</div>
                        <div class="progress design-progress">
  							<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    							<span class="sr-only">30% Complete</span>
  							</div>
						</div>                        
      				</a>
        </div>
    </div>
   
   <!-- Left and right controls -->
   <div class="container-fluid text-center">
   <button type="button" class="btn btn-default list-inline design-control" id="design-control-left" onClick="designOffsetLeft()">
   		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	<span class="sr-only">Previous</span>
   </button>
   <button type="button" class="btn btn-default list-inline design-control" id="design-control-right" onClick="designOffsetRight()">
   	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
   </button>
   </div>
</div>



<!-- FOOTER -->
<footer class="container-fluid ftr text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="row footer-row">
    		<div class="col-sm-1"></div>
            <div class="col-sm-2">
            	<h4>Discover</h4>
                <ul>
                <li><a href="">All projects</a></li>
                <li><a href="">Shoes</a></li>
                <li><a href="">Dress</a></li>
                <li><a href="">dbcskdbcsb</a></li>
                <li><a href="">sdlcjsdlc</a></li>
                <li><a href="">sifhdshc</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4></h4>
                <ul>
                <li><a href="">csldcnsl</a></li>
                <li><a href="">cskncsdnc</a></li>
                <li><a href="">dbcskdbcsb</a></li>
                <li><a href="">sdlcjsdlc</a></li>
                <li><a href="">sifhdshc</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
               	<h4>About Us</h4>
                <ul>
                <li><a href="">How it works</a></li>
                <li><a href="">Wo we are</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Etc</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Help</h4>
                <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Term of use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Hi</h4>
                <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Youtube</a></li>
                <li><a href="">Etc</a></li>
                </ul>
            </div>
            <div class="col-sm-1"></div>       
  </div>
  
  <div class="container">
  <div class="row">
    <div class="col-sm-6"><span class="pull-left"><h4>Next Season Logo</h4></span></div>
    <div class="col-sm-6"><span class="pull-right">
    	<p> 2015 New Season, Inc. All Rigts Reserved </p>
        </span></div>
  </div>
</div>

</footer>

</div>

</body>
</html>
