@charset "UTF-8";
/* CSS Document */

.filters-tab {
	padding: 0;
    margin: 0;
    text-align: left !important;
}

.filter-tab-element {
    display: inline-block;
    width: 10%;
    text-align: center;

    position: relative;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: #ffffff !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content a:link, .dropdown-content a:visited {
    color: black;
    background-color: #ffffff !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#d3d3d3 !important;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



.btn-filter-clear { margin-left: 60px;}




.filter-menu-container {
	padding:30px 40px;
	text-align:center;
	}
	

.dropdown-menu {
	padding:10px 0px;
	}

.filter-dropdown {
	width:100%;
	}
	
.filter-dropdown-button {
	width:100%;
	color:#595959;
	background:none;
	border-color:#595959;
	}
.filter-dropdown-button:hover {
	color:#f6f6f6;
	background:#595959;
	}


.jumbotron {
	height: 300px;
	background-image: url("../icons/banner1.jpg");
    padding-bottom: 0;
    margin-bottom: 0;
}

.projects-container {
	text-align:center;
	padding:40px 100px;
	}

.projects-container a:link, a:visited {
	background-color: transparent;
	text-decoration: none;
	color: #595959;
}

/*
.projects-container a:hover, a:active {
	background-color: #f6f6f6;
}
*/

.project-thumbnail{
	padding:30px 20px;
	visibility:hidden;
	}

.container-fluid {
    text-align: center;
}

#no-result-banner {
    display: none;
    text-align: center;
}

/*MEDIA QUERIES*/
	/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }
	
	/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		.projects-container { padding:10px 60px;}
    }	