
.filters-tab {
    padding-top: 50px;
    margin: 0;
    text-align: left !important;
}

.filter-tab-element {
    display: inline-block;
    width: 10%;
    text-align: center;

    position: relative;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    background-color: #ffffff !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



.btn-filter-clear { margin-left: 60px;}

.directory-tab {
    width: 100%;
    padding: 6px 200px 6px 200px;

    color: #000000;
    background-color: #e4e4e4;
}

.dir-tab-element-fix, .dir-tab-element {display: inline-block; text-align: center;}
.dir-tab-element-fix { width: 5%; min-width: 12px; }

.dir-tab-element a {
    text-decoration: none;
    color: #c3c3c3;
}
.dir-tab-element a:hover {
    text-decoration: none;
    color: #1e1e1e;
}

.project-tab {
    width:100%;
    padding: 40px 200px 20px 200px;
    background-color: #f1f1f1;
    text-align: center;
}

#project-title, #project-designer, #product_section, #info-section {min-width: 880px;}

#project-designer { margin-bottom: 40px; font-style: italic; color: #626262;}

#product_section {
    padding-bottom: 40px;
}


#info-section {
    background-color: #ffffff;
    padding: 10px 200px 60px 200px;
}

#highlight-img {
    height: 100%;
    width: auto;
}

.secondary-img {
    height: 160px;
    width: auto;
    padding: 20px 20px;
}

#metrics-section {
    border-bottom: solid;
    border-color: #C3C3C3;
    border-width: 1px;

    text-align: left;
}

#metrics-section h5 {
    font-size: 20px;
    margin-bottom: 2px;
}
#metrics-section h6{
    text-align: start;
    margin-top: 2px;
}

#qty-section, #size-section, #designer-info, #product-info, #icons-section {
    border-bottom: solid;
    border-color: #C3C3C3;
    border-width: 1px;

    height: 150px;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
}

#project-qty-field {
    width: 60px;
    border-style: solid;
    border-width: 1px;
    border-color:#000000;
    border-radius: 10px;
    padding: 6px 12px;
    text-align: center;
}

#icons-section {border-bottom: none;}

#size-section {
    text-align: left;
}

#size-button {
    width: 100px;
    text-align: left;
}

#designer-info p {
    font-size: 13px;
}

#product-info p {
    font-size: 10px;
}

#qty-section, #designer-info-realized, #designer-info-contact {
    border-left: solid;
    border-color: #C3C3C3;
    border-width: 1px;
}

#designer-info-realized, #designer-info-contact {text-align: right;}

.color-circle:hover {stroke: #595959; }


#designer-info-col-text {text-align: left;}
#icons-section {height: 75px;}

#wishlist-button { background-color: #d3d3d3;  color: #1e1e1e; border-color:transparent;}
#wishlist-button:hover { background-color: #1e1e1e; color: #d3d3d3;}

#chart-button:hover { background-color: #d3d3d3;  color: #1e1e1e;}
#chart-button { background-color: #1e1e1e; color: #d3d3d3;}

.nav-tabs {
    border: none;
    margin: 0;
    padding: 0 0;
}


.info-nav-tabs {
    border-bottom: solid;
    border-width: 1px;
    border-color: #c3c3c3;
}

.info-nav-tabs a:link, a:visited {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
}

.info-nav-tabs li.active a, .info-nav-tabs li.active a:link, .info-nav-tabs li.active a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #1e1e1e;
}

.info-nav-tabs li.active:hover a {
    background-color: transparent;
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #1e1e1e;
}


.social-logo {
    height: 28px;
}

.tab-content {
    text-align: left;
}

.tab-content h4 {
    margin-top: 60px;
    font-size: 14px;
}
.tab-content p {
    font-size: 12px;
}

.comment-row, #no-comments-label { display: none;}
#comments { padding-top: 60px;}

.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

#related { padding-top: 80px;}
.related-product { display: none; text-align: center;}
.related-product h4 { margin-top:0px; padding-top: 16px; padding-bottom: 16px; }


